.proj-section {
  height: 100vh;
  width: 80vw;
  max-width: 1400px;
}

.proj-wrapper {
  display: inline-block;
  margin-top: 20vh;
  position: relative;
  width: 100%;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes project-animation {
  from {
    transform: scale(0, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

.project-label-tech {
  display: inline-block;
  width: 45%;
  margin: 10px;
}

.project-label {
  display: block;
  white-space: pre-wrap;
}

.image-wrapper {
  display: inline-block;
  height: inherit;
  width: 45%;
  height: 200px;
  margin: 10px;
  background-size: contain;
  background-position: center;
  border-radius: 4px;
  position: relative;
  background-repeat: no-repeat;
}

.image-and-tech-wrapper {
  display: flex;
}
.project-label-tech-mobile {
  width: 100%;
  display: none;
}

.tech-list {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: unset;
  justify-content: center;
  height: 100%;
}

.project {
  display: inline-block;
  transition: 2s ease;
}

.title {
  margin: 2px;
}

.subtitle {
  margin: 0;
}

.hover-wrapper {
  position: absolute;
  border-radius: 4px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0;
  background-image: url("../Images/git.png");
  background-size: auto 2vw;
  background-repeat: no-repeat;
  background-position: 48% 65%;
  transition: opacity 0.8s ease;
}

.hover-wrapper:hover {
  opacity: 0.8;
}

.live-demo {
  position: absolute;
  top: 50%;
  left: 5%;
  cursor: pointer;
  border-radius: 4px;
  border-color: white;
  color: white;
  cursor: pointer;
  letter-spacing: 1px;
  padding: 5px 10px;
  border: 2px solid;
  text-decoration: none;
}

.repo {
  position: absolute;
  top: 50%;
  right: 5%;
  cursor: pointer;
  border-radius: 4px;
  border-color: white;
  color: white;
  cursor: pointer;
  letter-spacing: 1px;
  padding: 5px 10px;
  text-decoration: none;
  border: 2px solid;
}
.repo:hover {
  box-shadow: 0px 0px 25px #ffffff;
}

.live-demo:hover {
  box-shadow: 0px 0px 25px #ffffff;
}

.right-arrow-wrapper {
  position: absolute;
  right: 0;
  top: 50%;
  bottom: 50%;
}

.right-arrow {
  width: 40px;
  height: 40px;
  border-top: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(45deg);
  border-radius: 7px;
  cursor: pointer;
  transition: 0.5s ease;
}

.right-arrow:hover {
  transition: 0.5s ease;
  transform: rotate(45deg) translate(20px, -20px);
}

.left-arrow-wrapper {
  position: absolute;
  left: 0;
  top: 50%;
  bottom: 50%;
}

.left-arrow {
  width: 40px;
  height: 40px;
  border-top: 5px solid white;
  border-left: 5px solid white;
  transform: rotate(-45deg);
  border-radius: 7px;
  cursor: pointer;
  transition: 0.5s ease;
}

.left-arrow:hover {
  transition: 0.5s ease;
  transform: rotate(-45deg) translate(-20px, -20px);
}

@keyframes go-from-left {
  from {
    transform: translate(-200px, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes go-away-left {
  from {
    transform: translate(0, 0);
    opacity: 1;
  }
  to {
    transform: translate(-200px, 0);
    opacity: 0;
  }
}

@keyframes go-from-right {
  from {
    transform: translate(200px, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes go-away-right {
  from {
    transform: translate(0, 0);
    opacity: 1;
  }
  to {
    transform: translate(200px, 0);
    opacity: 0;
  }
}

@media screen and (max-width: 1200px) {
  .image-wrapper {
    width: 100%;
    margin: 2px;
    display: block;
  }
  .image-and-tech-wrapper {
    display: block;
  }

  .project-label-tech {
    width: 100%;
    margin: 2px;
  }
  .tech-list {
    display: none;
  }

  .project-label-tech-mobile {
    display: block;
  }

  .hover-wrapper {
    background-size: auto 6vw;
    background-position: 48% 23%;
  }

  .left-arrow-wrapper {
    position: absolute;
    left: -30px;
    top: 50%;
    bottom: 50%;
  }

  .right-arrow-wrapper {
    position: absolute;
    right: -30px;
    top: 50%;
    bottom: 50%;
  }
}
