.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}

.lang-wrapper {
  position: fixed;
  right: 0;
  width: 7vw;
  bottom: 0;
}

.lang-button {
  margin: 1vh 0.3vw;
  display: inline-block;
  cursor: pointer;
  font-size: 1.3rem;
}

.lang-button-active {
  font-size: 1.4rem;
  cursor: default;
  text-shadow: 0 0 25px #ffffff;

}

.lang-button:hover {
  text-shadow: 0 0 25px #ffffff;
}

@media screen and (max-width: 600px) {
  .lang-wrapper {
    display: none;
  }

  .lang-button {
    margin: 1vh 1.2vw;
  }

}






